@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Nigeria Law School</h1>
    <p>More information <a href="https://docs.lawschool.com">Kindly visit the student page to view records of students</a>.</p>
</div>
